.nav-pills .nav-link.active {
    color: #fff;
    background-color: orange;
    padding: 5px;
    width: 2rem;
}

.nav-pills .nav-link {
    padding: 5px;
    width: 2rem;
}

body {
    #background-color: #222;
    color: #535353;
    font-family: sans-serif;
}

h1, h2, h3 {
    color: #535353;
}

.dash-graph {
    background-color: #333;
    border: 1px solid #555;
    padding: 10px;
}

.dash-graph .plotly { /* Für die Plotly-Diagramme */
    background-color: #333 !important; /* Wichtig, um die Plotly-Hintergrundfarbe zu überschreiben */
}

button {
    background-color: #444;
    color: #eee;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: red;
    }
}

.ingredients {
  margin: 0;
  padding: 0.3rem;
  background-color: #eee;
}

.ingredients > h1,
.ingredient {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.ingredient {
  background: right/contain content-box border-box no-repeat white
}

.ingredient > h2,
.ingredient > p {
  margin: 0.2rem;
  font-size: 1rem;
}
